.sidebar {
    width: 20%;
    position: sticky;
    top: 80px;
    z-index: 101;
}

.sidebar > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}